.cart {
  background: #973a4b;
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  overflow-y: auto;
  width: 22%;
}

@media (max-width: 1000px){
  .cart{
    width: 100%;
  }
}

.cart .total-price{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 22px;
  line-height: 36px;
}

.cart ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart li {
  padding-bottom: 16px;
  color: #973a4b;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.cart .buttons-cart {
  display: flex;
  column-gap: 20px;
}

.cart .buttons-cart .go-to-payment{
  width: 100%;
  background-color: white;
  color: #973a4b;
  border: 1px solid #973a4b;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  padding: 8px;
}

.cart-button {
  border: 1px solid white;
  align-items: center;
  background: #973a4b;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 12px;
  top: 42px;
  transition: all 0.3s ease;
  width: 32px;
  z-index: 9999;
}
.cart-button svg {
  stroke: white;
}
.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}

.cart button {
  background-color: #973a4b;
  border: 1px solid white;
  color: white;
}

.cart button svg {
  stroke: white;
}
